h1{
border-style: solid;
border-width: 2px;
text-align: auto;
border-color: white;
padding: 0%;
width: 50%;
height: 20%;
margin-left: 480px;
font-size: 40px;
}

h3{
text-align: auto;
padding: 0%;
width: 50%;
height: 20%;
margin-left: 480px;
margin-top: 100px;
font-size: 170px;
}

footer {
	position:fixed;
	bottom:0;
	font-size: 30px;
	padding: 0%;
}	

.container{
	width: 80%;
	margin: auto;
}

header{
	background: #ffeb3a;
}	

header::after {
	content: '';
	display: table;
	clear: both;
}

.logo {
	float: left;
	width: 35%;
}

nav{
	float: auto;
}

nav u1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 70px;
	padding-top: 25px;
}

nav a {
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	float: left;
}

nav a:hover {
	color: #000;
}

nav a::before {
	content: '';
	display: block;
	height: 5px;
	background-color: black;

	position: center;
	top: 0;
	width: 0%;

	transition: all ease-in-out 100ms;
}

nav a:hover::before {
	width: 100%;
}

h2 {
	margin-left: 180px;
	margin-right: 180px;
	float: left;
	font-size: 30px;
	text-align: center;
	padding: 0px;
}

body {
	background: white;  /* fallback for old browsers */
	color: white;
	text-align: center;
	font-family: Sommet;
	font-size: 24px;
	margin: 0;
	padding: 0px;
}

#text_box {
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	width: 1200px;
	height: auto;
	background: rgba(0,0,0, 0.7);
	color: white;
	border: 2px solid white;
	text-align: left;
} 

body {
	font-family: Sommet;
	margin: 0;
	padding: 0;

	background-image: url("https://s-media-cache-ak0.pinimg.com/originals/e5/2b/e1/e52be13fafc8965e37892c6d8811e8c3.png");
}